<div class="title-block">
    <h3 class="title pull-left">
        Страница счета <span class="sparkline bar"></span>
    </h3>
    <div class="pull-right">
      <button class="btn-sm btn btn-primary-outline" (click) = 'onRefresh()'>
        <i class="fa fa-refresh"></i>
      </button>
    </div>
</div>
<section class="section">
    <div class="row" *ngIf = '!isLoaded' [ngStyle] = "{ textAlign: 'center' }">
        <office-loader></office-loader>
    </div>
    <div class="row" *ngIf = 'isLoaded'>
        <office-bill-card [bill] = 'bill' [currency] = 'currency'></office-bill-card>
        <office-currency-card [currency] = 'currency' ></office-currency-card>
    </div>
</section>

