<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)='filterClose()'>
          <span>×</span>
        </button>
        <h4 class="modal-title">Фильтр</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="period">Выберите период</label>
          <select class="form-control" id="period" [(ngModel)] = 'selectedPeriod'>
            <option 
              *ngFor = 'let p of timePeriod'
              [value] = 'p.type'
            >
              {{ p.label }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Выберите тип события</label>
          <div>
            <label *ngFor = 'let t of typeEvents'>
              <input
                class="checkbox"
                type="checkbox"
                [value] = 't.type'
                (change) = 'handleChangeType($event.target)'
              >
              <span>{{ t.label }}</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Выберите категории</label>
          <div>
            <label *ngFor = 'let c of categories'>
              <input
                class="checkbox"
                type="checkbox"
                [value] = 'c.id'
                (change) = 'handleChangeCategory($event.target)'
              >
              <span>{{ c.name }}</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)='filterClose()'>Отмена</button>
          <button type="button" class="btn btn-primary" (click) = 'onFilterApply()'>Применить</button>
        </div>
      </div>
    </div>
  </div>
</div>