<header class="header">
    <div class="header-block header-block-search">
        {{ date | date: 'fullDate' }}
    </div>
    <div class="header-block header-block-nav">
        <ul class="nav-profile">
            <li class="profile dropdown" officeDrop>
                <a class="nav-link dropdown-toggle"  role="button">
                    <span class="name">
                        Здравствуйте, {{ user.name }}
                    </span>
                </a>
                <div class="dropdown-menu profile-dropdown-menu">
                    <a class="dropdown-item" [routerLink] = "['records']"> <i class="fa fa-gear icon"></i>Сделать запись</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click) = 'onLogOut()' ><i class="fa fa-power-off icon"></i>Выйти</a>
                </div>
            </li>
        </ul>
    </div>
</header>


