<section class="section">
  <div class="row">
      <div class="col-xs-12 center">
            <ngx-charts-pie-chart
                [view] = 'view'
                [results] = 'charData'
                [legend] = 'false'
                [labels] = 'true'
                [doughnut] = 'true'
            >

            </ngx-charts-pie-chart>
      </div>
  </div>
</section>