.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: url('./img/not-found-t.jpg') no-repeat center;
    background-size: cover;

    button {
        margin: auto;
        padding: 0.8rem 3.5rem;
        border: 2px solid #fff;
        background-color: transparent;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.2s ease, transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;

        &:hover {
            background: #fff;
            transform: scale(1.2);
            color: tomato;
            border-color: tomato;
        }
        
    }
}




