<div class="card">
    <div class="card-header bordered">
        <div class="header-block">
            <h3 class="title">Добавить событие</h3>
        </div>
    </div>
    <div class="card-block">
        <div
             class="alert alert-{{ message.type }}"
             *ngIf = 'message.text'
             >
             {{ message.text }} 
        </div>
        <form #form = 'ngForm' (ngSubmit) = 'onSubmit(form)'>
            <div class="form-group">
                <label class="control-label" for="category">Выберите категорию</label>
                <select 
                    class="form-control" 
                    id="category"
                    ngModel = '0'
                    name = 'category'
                    #category = 'ngModel'      
                >
                    <option
                        [value] = '0'
                        > -- Введите значение --
                        <option 
                        *ngFor = 'let category of categories'
                        [value] = 'category.id'
                    > {{ category.name }} </option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Выберите тип</label>
                <div *ngFor = 'let obj of types'>
                    <label>
                        <input 
                            class="radio"
                            ngModel = 'income'
                            name="type"
                            type="radio"
                            [value] = 'obj.type'
                        >
                        <span> {{ obj.label }} </span>
                    </label>
                </div>
               </div>
            <div class="form-group" [ngClass] = "{'has-error': amount.invalid && amount.touched}">
                <label class="control-label" for="amount">Введите сумму</label>
                <input 
                    type="number" 
                    value="0" 
                    id="amount" 
                    class="form-control"
                    ngModel
                    ngModel = '1'
                    name = 'amount'
                    #amount = 'ngModel'
                    placeholder="Введите сумму"
                    min = '1'
                    required
                 >
                <span *ngIf = 'amount.value <= 0' style = 'color: red; font-size: 13px'> Сумма должна быть больше 0.</span>
                <span *ngIf = 'amount.invalid && amount.touched' class = 'has-error'>
                    Поле "Сумма" обязательно для заполнения
                </span>
            </div>
            <div class="form-group" [ngClass] = '{ "has-error":  description.touched && description.invalid}'>
                <label class="control-label" for="description">Введите описание</label>
                <input 
                    value="0" 
                    id="description" 
                    class="form-control"
                    ngModel
                    name = 'description'
                    #description = 'ngModel'
                    placeholder="Введите описание"
                    required
                >

                <span *ngIf = 'description.touched && description.invalid' class = 'has-error'>
                    Поле "Описание" обязательно для заполнения.
                </span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled] = 'form.invalid || category.value === "0"'>Добавить</button>
        </form>
    </div>
</div>
