<div class="title-block">
    <h3 class="title">
        Страница записей <span class="sparkline bar"></span>
    </h3>
</div>

<div class="row" *ngIf = '!isLoaded' [ngStyle] = "{ textAlign: 'center' }">
    <office-loader></office-loader>
</div>

<section class="section" *ngIf = 'isLoaded'>
    <div class="row">
        <div class="col-md-6">
            <office-add-event [categories] = 'categories' ></office-add-event>
        </div>
        <div class="col-md-6">
            <office-add-category (onCategoryAdd) = 'newCategoryAdded($event)'></office-add-category>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <office-edit-category [categories] = 'categories'></office-edit-category>
        </div>
    </div>
</section>

