<div class="card">
    <div class="card-header bordered">
        <div class="header-block">
            <h3 class="title">Добавить категорию</h3>
        </div>
    </div>
    <div class="card-block">
        <form #form='ngForm' (ngSubmit) = 'onSubmit(form)'>
            <div class="form-group"
                 [ngClass] = "{ 
                     'has-error': name.invalid && name.touched,
                     'has-success': name.valid && name.touched
                     }"
            >
                <label class="control-label" for="category-name">Введите название</label>
                <input 
                    type="text" 
                    id="category-name" 
                    class="form-control"
                    ngModel
                    #name = 'ngModel'
                    name = 'name'
                    required
                >
                <span class="form-help-text"
                      *ngIf = "name.invalid && name.touched"
                >
                    Поле: "Название" не должно быть пустым.
                </span>
            </div>

            <div class="form-group"
                 [ngClass] = "{ 
                     'has-error': capacity.invalid && capacity.touched,
                     'has-success': capacity.valid && capacity.touched
                     }"
            >
                <label class="control-label" for="category-value">Введите лимит</label>
                <input 
                    type="number"
                    id="category-value" 
                    class="form-control"
                    ngModel
                    #capacity = 'ngModel'
                    name = 'capacity'
                    required
                    min = '1' 
                >
                <span class="form-help-text"
                      *ngIf = 'capacity.invalid && capacity.touched'
                >
                    Поле: "Лимит" не должно быть пустым.
                </span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled] = 'form.invalid'>Добавить</button>
        </form>
    </div>
</div>
