<section class="section">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header bordered">
                  <div class="header-block">
                      <h3 class="title">Список событий</h3>
                  </div>
                  <div class="form-inline pull-right m-r-2">
                      <div class="form-group">
                          <input 
                            type="text" 
                            class="form-control" 
                            [placeholder]="searchPlaceholder"
                            [(ngModel)] = 'filterValue'
                        >
                      </div>
                      <div class="btn-group" officeDrop>
                          <button type="button" class="btn btn-secondary dropdown-toggle ">
                              Параметр
                          </button>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" (click) = 'changeCriteria("Сумма")'>Сумма</a>
                              <a class="dropdown-item" (click) = 'changeCriteria("Дата")'>Дата</a>
                              <a class="dropdown-item" (click) = 'changeCriteria("Категория")'>Категория</a>
                              <a class="dropdown-item" (click) = 'changeCriteria("Тип")'>Тип</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-block">
                  <table class="table table-striped">
                      <thead>
                      <tr>
                          <th>#</th>
                          <th>Сумма</th>
                          <th>Дата</th>
                          <th>Категория</th>
                          <th>Тип</th>
                          <th class="text-lg-center">Действие</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor = 'let ev of events | officeFilter: filterValue: searchPlaceholder; let idx = index'>
                            <th scope="row"> {{ i }} </th>
                            <td> {{ ev.amount }} </td>
                            <td> {{ ev.date | officeMoment: 'DD.MM.YYYY HH.mm.ss' }} </td>
                            <td> {{ ev.name }} </td>
                            <td>
                                <span [ngClass]= 'getEventClass(ev)' *ngIf = 'ev.type === "outcome"'> Расход </span>
                                <span [ngClass]= 'getEventClass(ev)' *ngIf = 'ev.type === "income"' > Доход </span>
                            </td>
                            <td class="text-lg-center">
                                <a [routerLink] = '["/system/history", ev.id]' class="btn btn-primary-outline">Открыть</a>
                            </td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Сумма Дата Категория Тип changeCriteria(field) searchPlaceholder searchField filterPipe   -->