<div class="title-block">
    <h3 class="title">
        Страница планирования <span class="sparkline bar"></span>
    </h3>
</div>

<div class="row" *ngIf = '!isLoaded' [ngStyle] = "{ textAlign: 'center' }">
    <office-loader></office-loader>
</div>

<section class="section" *ngIf = 'isLoaded'>
    <div class="row" *ngFor = 'let category of categories'>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-sm bordered">
                    <div class="header-block">
                        <h3 class="title">Расходы</h3>
                    </div>
                    <h5 class="planning-expenses pull-right">
                        Общий остаток: <span class="text-success"> {{ bill.value }} </span>
                    </h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="n-progress">
                                <div class="progress-bar {{ getCategoryPost(category).classColor }}" [ngStyle]="{width: getCategoryPost(category).percent}">
                                    <span> {{category.name}} </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p>
                                <span class="text-success">{{ getCategoryPost(category).value }}</span>
                                из
                                <span class="text-primary"> {{ category.capacity }} </span>
                                |
                                осталось <span class="text-success"> {{  category.capacity - getCategoryPost(category).value }} </span> (руб.)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>