<p class="text-xs-center">Регистрация для получения доступа</p>
<form [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>
    <div class="form-group"
        [ngClass] = "{
            'has-error': form.get('email').invalid && form.get('email').touched,
            'has-success': form.get('email').valid && form.get('email').touched
        }"
    >
        <label for="email">Email</label>
        <input
            type="text"
            class="form-control underlined"
            id="email"
            placeholder="Введите email"
            formControlName = 'email'
        >
        <span *ngIf = "form.get('email')['pending']" [ngStyle] = "{color: 'gold', fontSize: '13px'}">
                Идет проверка email
        </span>
        <span *ngIf = "form.get('email').invalid && form.get('email')['errors']['forbiddenEmail']" [ngStyle] = "{color: '#f44', fontSize: '13px'}" >Такой email уже существует.</span>
        <span class="form-help-text" *ngIf = "form.get('email').invalid && form.get('email').touched">
            <span *ngIf = "form.get('email')['errors']['required']" >Это поле обязательно для заполнения.</span>
            <span *ngIf = "!form.get('email')['errors']['required'] && form.get('email')['errors']['email']" >Некорректный email.</span>
        </span>
    </div>
    <div class="form-group"
        [ngClass] = "{
            'has-error': form.get('password').invalid && form.get('password').touched,
            'has-success': form.get('password').valid && form.get('password').touched
        }"
    >
        <label for="password">Пароль</label>
        <input
            type="password"
            class="form-control underlined"
            id="password"
            placeholder="Введите пароль"
            formControlName = 'password'
        >
        <span class="form-help-text" *ngIf = "form.get('password').invalid && form.get('password').touched">
            
            <span *ngIf = "form.get('password')['errors']['required']" >Это поле обязательно для заполнения.</span>
            <span *ngIf = "form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
                Пароль не может быть меньше {{ form.get('password')['errors']['minlength']['requiredLength'] }} символов.
                Сейчас {{ form.get('password')['errors']['minlength']['actualLength'] }}
            </span>

        </span>
    </div>
    <div class="form-group"
         [ngClass] = "{
             'has-error': form.get('name').invalid && form.get('name').touched,
             'has-success': form.get('name').valid && form.get('name').touched
         }"
    >
        <label for="name">Имя</label>  
        <input
            type="text"
            class="form-control underlined"
            id="name"
            placeholder="Введите имя"
            formControlName = 'name'
        >
        <span class="form-help-text" *ngIf = "form.get('name').invalid && form.get('name').touched">
            Это поле обязательно для заполнения.
        </span>
    </div>
    <div class="form-group"
         [ngClass] = "{
             'has-error': form.get('agree').invalid && form.get('agree').touched
         }"
    >
        <label for="agree">
            <input class="checkbox" id="agree" type="checkbox" formControlName = 'agree'>
            <span>Согласен с правилами</span>
        </label>
        <span *ngIf = "form.get('agree').touched && form.get('agree').invalid">
            Требуется ознакомление и согласие с правилами.
        </span>
    </div>
    <div class="form-group">
        <button
         type="submit"
         class="btn btn-block btn-primary"
         [disabled] = 'form.invalid'>Зарегистрироваться</button>
    </div>
    <div class="form-group">
        <p class="text-muted text-xs-center">
            Уже есть аккаунт?
            <a [routerLink] = "['/login']">
                Войти!
            </a>
        </p>
    </div>
</form>

<!-- nowCanLogin -->