<div class="main-wrapper">
        <div class="app">
            <!--HEADER-->
            <office-header></office-header>
            <!--HEADER-->
            <!--SIDEBAR-->
            <office-sidebar></office-sidebar>
            <!--SIDEBAR-->
            <!--CONTENT-->
            <article class="content dashboard-page">
               <router-outlet></router-outlet>
            </article>
            <!--CONTENT-->
        </div>
    </div>


    <!-- [sidebar, header] -->