<div class="card">
    <div class="card-header bordered">
        <div class="header-block">
            <h3 class="title">Редактировать категорию</h3>
        </div>
    </div>
    <div class="card-block">
        <div *ngIf = 'message.text' class="alert alert-{{ message.type }}"> {{ message.text }}</div>
        <form #form='ngForm' (ngSubmit) = 'onSubmit(form)'>
            <div class="form-group">
                <label for="categories">Выберите категорию</label>
                <select 
                    class="form-control" 
                    name="categories"
                    [(ngModel)] = 'currentCategoryId' 
                    (change) = 'changeCategoryId()'

                    >
                        <option
                        [value] = '0'
                        > -- Введите значение --
                        
                        <option
                            *ngFor = 'let category of categories'
                            [value] = 'category.id'
                        > 
                            {{ category.name }}
                        </option>
                </select>
            </div>
            <div class="form-group"
                 [ngClass] = "{ 
                     'has-error': name.invalid && name.touched,
                     'has-success': name.valid && name.touched
                     }"
            >
                <label class="control-label" for="category-name">Введите название</label>
                <input 
                    type="text" 
                    id="category-name" 
                    class="form-control"
                    #name = 'ngModel'
                    name = 'name'
                    [ngModel] = 'category.name'
                    required
                >
                <span class="form-help-text"
                      *ngIf = "name.invalid && name.touched"
                >
                    Поле: "Название" не должно быть пустым.
                </span>
            </div>

            <div class="form-group"
                 [ngClass] = "{ 
                     'has-error': capacity.invalid && capacity.touched && category.id !== 0,
                     'has-success': capacity.valid && capacity.touched
                     }"
            >
                <label class="control-label" for="category-value">Введите лимит</label>
                <input 
                    type="number"
                    id="category-value" 
                    class="form-control"
                    #capacity = 'ngModel'
                    [ngModel] = 'category.capacity'
                    name = 'capacity'
                    required
                    min = '1' 
                >
                <span class="form-help-text"
                      *ngIf = 'capacity.invalid && capacity.touched && category.id !== 0'
                >
                    Поле: "Лимит" не должно быть пустым.
                </span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled] = 'form.invalid  || category.id === 0'>Редактировать</button>
        </form>
    </div>
</div>


<!-- form-group label-control form-control(select) currentCategoryId [ngModelOptions] = {standalone: true} isLoaded updateCategory()  onCategoryEdit categoryWasEdited alert alert-{{message}}-->