<div class="title-block">
    <h3 class="title">
        Страница истории <span class="sparkline bar"></span>
    </h3>
    <div class="pull-right">
        <button class="btn-sm btn btn-primary-outline" (click) = 'openFilter()'>
          <i class="fa fa-filter"></i>
        </button>
      </div>
</div>

<div class="row" *ngIf = '!isLoaded' [ngStyle] = "{ textAlign: 'center' }">
    <office-loader></office-loader>
</div>

<div *ngIf = 'isLoaded'>
    <office-history-chart [charData] = 'charData' ></office-history-chart>
    
    <button class="btn btn-primary" (click) = 'onFilterCancel()'>Отменить фильтр</button>

    <office-history-events [categories] = 'categories' [events] = 'filteredEvents'></office-history-events>
    
    <div *ngIf = 'isFilterVisible'>
        <office-history-filter
          (onFilterCancel) = 'onFilterCancel()'
          [categories] = 'categories'
          (applyFilter) = 'applyFilter($event)'
        >

        </office-history-filter>
    </div>
    
</div>


